<div class="row">
<div class="category_head"><h1>User Contributed Trivia</h1></div>
  <ul class="medium-block-grid-3" id="posts">
    <% @trivia_facts.each do |trivia| %>
      <li class="posts">
        <div class="outer_box">
          <div class="category_box">
            <%= trivia.category.name %>
          </div>
           <div class="flip">
            <div class="card">
                <div class="face front">
                    <%= trivia.question %>
                </div>
                <div class="face back">
                    <%= trivia.answer %>
                </div>
            </div>
           </div>
            <ul class="button-group voting">
              <li>
                <%= form_for [trivia, @vote] do |f| %>
                  <%= f.hidden_field :vote, value: 1 %>
                  <%= f.submit "True", class: 'tiny button radius'%>
                <%end%>
              </li>
              <% if trivia.total_votes >= 0 %>
                <li class="total_votes_green"><%= trivia.total_votes %></li>
              <% else %>
                <li class="total_votes_red"><%= trivia.total_votes %></li>
                <% end %>
              <li>
                <%= form_for [trivia, @vote] do |f| %>
                  <%= f.hidden_field :vote, value: -1 %>
                  <%= f.submit "False", class: 'tiny button radius'%>
                <%end%>
              </li>
              </ul>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="paginate"><%= paginate @trivia_facts %></div>
</div>
