<div class="row">
<div class="category_head"><h1>Unfeatured Trivia</h1></div>
  <ul class="medium-block-grid-3" id="posts">
    <% @trivia_facts.each do |trivia| %>
      <li class="posts">
        <div class="outer_box">
          <div class="category_box">
            <%= trivia.category.name %>
          </div>
           <div class="flip">
            <div class="card">
                <div class="face front">
                    <%= trivia.question %>
                </div>
                <div class="face back">
                    <%= trivia.answer %>
                </div>
            </div>
           </div>
            <div class="favorite_button">
              <%= form_for [trivia, @vote] do |f| %>
                <%= f.hidden_field :vote, value: 1 %>
                <%= f.submit "True" %>
              <%end%>
              <%= form_for [trivia, @vote] do |f| %>
                <%= f.hidden_field :vote, value: -1 %>
                <%= f.submit "False" %>
              <%end%>
            </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="paginate"><%= paginate @trivia_facts %></div>
</div>
