<%= form_for [:admin, @trivia_fact] do |f| %>

  <% if @trivia_fact.errors.any? %>
    <% @trivia_fact.errors.full_messages.each do |msg| %>
      <p class="alert-box edit"><%= msg %></p>
    <% end %>
  <% end %>

  <%= f.label :question %>
  <%= f.text_field :question %>
  <%= f.label :answer %>
  <%= f.text_field :answer %>
  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%= f.submit 'Update' %>
<% end %>
