<h2><%= @trivia_fact.category.name %></h2>
<h3><%= @trivia_fact.question %></h3>
<p><%= @trivia_fact.answer %></p>

<%= form_for [@trivia_fact, @voting] do |f| %>
  <%= f.hidden_field :vote, value: 1 %>
  <%= f.submit "True" %>
<%end%>
<%= form_for [@trivia_fact, @voting] do |f| %>
  <%= f.hidden_field :vote, value: -1 %>
  <%= f.submit "False" %>
<%end%>
