<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Strictly Quizness</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <div class="contain-to-grid sticky">
          <nav class="tab-bar" data-topbar data-options="sticky_on: large">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>
            <section class="middle tab-bar-section">
              <h1 class="title"><%= link_to 'Strictly Quizness', trivia_facts_path %></h1>
            </section>
          </nav>
        </div>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>User</label></li>
              <% if !current_user %>
                <li><%= render 'devise/menu/login_items' %></li>
                <li><%= render 'devise/menu/registration_items' %></li>
              <% else %>
                <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
                <li><%= render 'devise/menu/login_items' %></li>
                <li><%= link_to 'Edit Account', edit_user_registration_path(current_user) %></li>
                <li><label>Quizzes</label></li>
                  <li><%= link_to "Take a Random Quiz", new_quiz_response_path %></li>
                  <li><%= link_to "Retake a Quiz", quiz_responses_path %></li>
              <% end %>
            <li><label>Help us out!</label></li>
                <li><%= link_to "User Contributed Trivia", unfeatured_trivia_facts_path %></li>
                <li><%= link_to 'Create New Trivia', new_trivia_fact_path %></li>
            <li><label>Categories</label></li>
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, trivia_facts_path(category) %></li>
            <% end %>
            <%if current_user && current_user.role == 'admin' %>
              <li><label>Admin</label></li>
              <li><%= link_to 'Admin Unfeatured Trivia', admin_trivia_facts_path %> </li>
            <% end %>
          </ul>
        </aside>

        <section class="main-section">

          <% if notice %>
            <p class="alert-box success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert-box alert"><%= alert %></p>
          <% end %>

          <%= yield %>

        </section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
